<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/">User</a></li>
  <li class="breadcrumb-item active">change Password</li>
</ol>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h2>{{title}}</h2>
    </div>
    <form class="change-password-form" action="/users/change-password" method="post">
       <div class="card-body">
          <div class="row form-group">
          <div class="col-12 col-md-3">
            <div class="">
              <span class="required">*</span>
              <label class="col-form-label" for="username">Email Id</label>
            </div>
            <div class="">
              <input id="email" type="text" name="email" class="form-control" value="{{user.email}}"
                placeholder="dummy@domainname.com" disabled required>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="col-12 col-md-12">
              <span class="required">*</span>
              <label class="col-form-label" for="odlPassword">Old Password</label>
              <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                title="Enter your old password."></i>
            </div>
            <div class="col-12 col-md-12">
              <input id="odlPassword" type="password" name="oldPassword" class="form-control" placeholder="Old Password"
                required autofocus>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="col-12 col-md-12">
              <span class="required">*</span>
              <label class="col-form-label" for="newPassword">New Password</label>
              <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                title="Enter your new password. It must be 8-15 characters long containing alphabet, digit or special symbol ($, @, !, %,*, #, ?, &amp;)"></i>
            </div>
            <div class="col-12 col-md-12">
              <input id="newPassword" type="password" name="newPassword" class="form-control" placeholder="New Password"
                required maxlength="15" minlength="8">
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="col-12 col-md-12">
              <span class="required">*</span>
              <label class="col-form-label" for="confirmPassword">Confirm Password</label>
              <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                title="Re-enter your new password. It must be 8-15 characters long containing alphabet, digit or special symbol ($, @, !, %,*, #, ?, &amp;)"></i>
            </div>
            <div class="col-12 col-md-12">
              <input id="confirmPassword" type="password" name="confirmPassword" class="form-control"
                placeholder="Confirm Password" required maxlength="15" minlength="8">
            </div>
          </div>

        </div>
        <div class="row form-group form-buttons">
          <input type="hidden" name="isAdmin" value="false">
          <button class="btn btn-success submit-btn mr-3" type="submit" name="button"> <i class="fas fa-check pr-2"></i>
            SAVE</button>
          <a class="btn btn-secondary" href="/users"><i class="fa fa-times pr-2"></i> Cancel </a>
        </div>
       </div>
    </form>
  </div>
</div>